### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_df= purchase_data
print(purchase_data)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

## Player Count

* Display the total number of players

In [8]:
# total number of players

players_count = len(purchase_df["SN"].unique())
players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# total purchasing analysis
Unique_Items = len((purchase_df["Item ID"].unique()))
average_price = (purchase_df["Price"]).mean()
number_purchase = (purchase_df["Item ID"]).count()
total_revenue = (purchase_df["Price"]).sum()

# Data frame containing all the values
summary_analysis = pd.DataFrame({"Number of Unique Items":[Unique_Items],
                            "Average Price":[average_price], 
                            "Number of Purchases": [number_purchase], 
                            "Total Revenue": [total_revenue]})


# currency style format
summary_analysis.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
## Gender demography 

# Count of male players
Male = purchase_df.groupby(['Gender']).get_group(('Male'))
Male_df = len(Male['SN'].unique())
#Percentage of Male players
Male_percent = round((Male_df/players_count)*100,2)

#Count of female players 
Female = purchase_df.groupby(['Gender']).get_group(('Female'))
Female_df = len(Female['SN'].unique())
#Percentage of Female players
Female_percent = round((Female_df/players_count)*100,2)

#Count of Other / Non-Disclosed
Other_Non_Disclosed = purchase_df.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
Other_Non_Disclosed_df = len(Other_Non_Disclosed ['SN'].unique())
Other_Non_Disclosed_df

#Percentage of Other / Non-Disclosed
Other_Non_Disclosed_percent = round((Other_Non_Disclosed_df/players_count)*100,2)

#Gender dataframe
Gender_df = pd.DataFrame({'Percent of Players': [Male_percent, Female_percent, Other_Non_Disclosed_percent],  
                          'Gender Count': [Male_df, Female_df, Other_Non_Disclosed_df]})
Gender_df

   Percent of Players  Gender Count
0               84.03           484
1               14.06            81
2                1.91            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
## PURCHASE ANALYSIS GENDER
# Purchase count by gender
gender_purchases_df = (purchase_df.groupby("Gender")["Item Name"]).count()
gender_purchases_df

# Average Purchase Price
average_purchase_df = round(purchase_df.groupby("Gender")["Price"].mean(),2)
average_purchase_df

# Total Purchase Value
total_value_df = purchase_df.groupby("Gender")["Price"].sum()
total_value_df

# Average Purchase Total per Person by Gender 
total_purchase_df = round((total_value_df/gender_purchases_df),2)
total_purchase_df

# Analysis table 

gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price":average_purchase_df,
                                   "Total Purchase Value":total_value_df,
                                   "Avg Total Purchase Per Person":total_purchase_df})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
### Age Demographics
# bin to hold the age value 
bins = [0,10,15,20,25,30,35,40, 45]
age_range = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# purchase count by age group
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, labels=age_range)
purchase_df.head()

# age group percentage 
age_percentage_df = round(purchase_df["Age Range"].value_counts()/number_purchase,2)*100
age_percentage_df

# Total age count
age_count_df = (purchase_df.groupby("Age Range")["SN"].nunique())
age_count_df

# Summary table 
age_demographic_df = pd.DataFrame({"Total Count":age_count_df,
                               "Percentage of Players": age_percentage_df})
age_demographic_df

       Total Count  Percentage of Players
<10             24                    4.0
10-14           41                    7.0
15-19          150                   26.0
20-24          232                   42.0
25-29           59                   10.0
30-34           37                    7.0
35-39           26                    4.0
40+              7                    1.0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
### Top Spenders

# purchase count
spenders_count_df = purchase_df.groupby("SN")["Purchase ID"].count()
spenders_count_df

#Average Purchase Price
spenders_average_price_df = round(purchase_df.groupby("SN")["Price"].mean(),2)
spenders_average_price_df

#Total Purchase Value
spenders_total_df = purchase_df.groupby("SN")["Price"].sum()
spenders_total_df

# Summary table 
spender_table_df = pd.DataFrame({"Purchase Count":spenders_count_df,
                                   "Average Purchase Price":spenders_average_price_df,
                                   "Total Purchase Value":spenders_total_df})
spender_table_df.head()

# Table formatting
spender_table_df.style.format({"Average Purchase Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

# Determining the top 5 spenders
top_five_spenders = spender_table_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
### Most Popular Items

#Item ID
Item_Id = data_file.groupby(purchase_df['Item ID'])
Popular_Items = Item_Id['Item ID'].unique()
Popular_Items

#Item Name
Item_Name = Item_Id["Item Name"].unique()
Item_Name

#Purchase Count
Item_Count = Item_Id['Age'].count()
Item_Count

#Item Price
Item_Price= Item_Id['Price'].unique()
Item_Price

#Total Purchase Value
Item_Purchased = Item_Id["Price"].sum()
Item_Purchased

# Summary Table
Items_purchased_df = pd.DataFrame({"Item Name":Item_Name,
                                   "Purchase Count":Item_Count,
                                   "Item Price":Item_Price,
                                   "Total Purchase Value":Item_Purchased,})
Items_purchased_df

# Determining the five most popular items.

most_popular_items_df = Items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
## Most Profitable Items

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

# Table formatting
Items_purchased_df.style.format({"Item Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

# Identify the 5 most profitable items using the most popular DataFrame
most_profitable_items_df = Items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

NameError: name 'Items_purchased_df' is not defined